* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

body {
  margin: 0;
}

.header {
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: 100% 150%;
  background-position: 50% 130%;
  margin-bottom: 20px;
}

.heading-text {
  font-size: 30px;
  padding-top: 20px;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.main-content {
  width: 840px;

}

.main {
  width: 840px;
  display: inline-block;
  margin: 0 auto;
}

.item {
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}